<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="" href="css/tailwind.css">
</head>
<body class="flex flex-col min-h-screen bg-gray-900">

    <header><%- include('blocks/nav.ejs',location); %></header>

        <main class="flex-grow"><%- include(`pages/${location}.html`); %></main>

    <footer><%- include('blocks/foot.html'); %></footer>

</body>
</html>