<nav class="px-8 py-4 bg-indigo-700">
   
               <!--
               */--> 
    <div class="lg:flex lg:items-center lg:justify-between">
    <p class="uppercase text-2xl text-indigo-100 font-bold tracking-widest">Reluz</p>
    
            <div class="lg:flex items-center w-full hidden lg:block" id="menu">
                <div class="lg:flex px-2">
                    <a href="/market" class="activeMenu flex w-full"><svg fill="currentColor" viewBox="0 0 20 20" class="w-6 h-6 inline mr-1"><path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path><path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path></svg> Market</a>
                    <a href="/tradeview" class="inactiveMenu flex w-full"><svg fill="currentColor" viewBox="0 0 20 20" class="w-6 h-6 inline mr-1"><path fill-rule="evenodd" d="M12 7a1 1 0 110-2h5a1 1 0 011 1v5a1 1 0 11-2 0V8.414l-4.293 4.293a1 1 0 01-1.414 0L8 10.414l-4.293 4.293a1 1 0 01-1.414-1.414l5-5a1 1 0 011.414 0L11 10.586 14.586 7H12z" clip-rule="evenodd"></path></svg>Tradeview</a>                            
                </div>
            </div>
            <div class="items-center">
               <a href="">Minha Conta</a> 
            </div>
            
            <div class="w-auto hidden lg:block">
               
                   
                
                <div class="rounded-full bg-indigo-100 p-2 relative" >
                     
                    <div> <svg fill="currentColor" viewBox="0 0 20 20" class="w-6 h-6 inline"><path fill="#3C366B" d="M3 1a1 1 0 000 2h1.22l.305 1.222a.997.997 0 00.01.042l1.358 5.43-.893.892C3.74 11.846 4.632 14 6.414 14H15a1 1 0 000-2H6.414l1-1H14a1 1 0 00.894-.553l3-6A1 1 0 0017 3H6.28l-.31-1.243A1 1 0 005 1H3zM16 16.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM6.5 18a1.5 1.5 0 100-3 1.5 1.5 0 000 3z"></path></svg></div>
                    <div class="border-2 font-bold border-indigo-100 text-indigo-200 transform translate-x-2 -translate-y-2 top-0 left-0 -translate-x-3 absolute bg-indigo-800 rounded-full p-3 w-4 h-4 flex items-center justify-center">
                        7
                    </div>
                </div>
            </div>
        
    </div>
</nav>