
<div class="static h-64">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" style="z-index: -10;" class="absolute"><path fill="#4C51BF" fill-opacity="1" d="M0,64L1440,192L1440,0L0,0Z"></path></svg>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" style="z-index: -11;" class="absolute"><path fill="#A3BFFA" fill-opacity="1" d="M0,192L1440,32L1440,0L0,0Z"></path></svg>
</div>


<div class="container mx-auto mb-32">

    <div class="w-full">
        <div class="w-full yo h-48 text-center flex items-center justify-center bg-opacity-25 rounded-lg static">
            
            <img src="img/photo-1483118714900-540cf339fd46.jpg" alt="" class="rounded-lg h-48 -translate-x-20 -translate-y-20  transform  left-0 absolute">
            <p class="text-indigo-100 text-6xl font-bold uppercase tracking-widest absolute"> We offer quality</p>
            <img src="img/photo-1434056886845-dac89ffe9b56.jpg" alt="" class="rounded-lg h-48 translate-x-20 translate-y-20  transform  right-0 absolute">
        </div>

    </div>
</div>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" class="absolute"><path fill="#1a202c" fill-opacity="1" d="M0,32L1440,192L1440,0L0,0Z"></path></svg>
    <div class="w-full mt-16 flex items-center justify-center">
        
        <div class="shadow-md w-dull p-12 text-indigo-100 stuff py-64">
            
            <div class="flex justify-center items-center py-4">
                <button class="bg-gray-200 bg-opacity-50 px-4 py-6 w-1/3 rounded-full shadow-xl border-b-2 border-indigo-500 font-semibold text-4xl uppercase">SHOP</button>
            </div>
            <p class="font-semibold tracking-wider text-3xl">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
            
        </div>  
    </div>






<div class="py-8 container mx-auto">
    
        <div class="flex bg-indigo-100 rounded-lg specialwave">
            <div  class="py-6 transform -translate-x-16">
                <object data="img/photo-1522968439036-e6338d0ed84f.jpg" type="" class="w-56 inline rounded-lg"></object>
            </div>
            <div class="p-6">
                <p class="uppercase font-semibold text-2xl">Lorem ipsum dolor</p>
                <p class="font-mono text-indigo-100" style="mix-blend-mode: exclusion;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac egestas ligula. Nulla varius sed risus nec consectetur. Maecenas justo leo, tristique nec dolor et, tristique dictum arcu. Maecenas metus odio, lobortis eu aliquam ut, malesuada eu ipsum. Pellentesque sagittis mi a eros condimentum dapibus. Fusce vitae feugiat massa, a fringilla est. Ut eu sem molestie, tincidunt lorem id, tempus est. Nullam imperdiet malesuada lacus, nec dictum lectus vulputate in. Quisque fringilla libero dictum nunc convallis sagittis. Vestibulum sit amet ipsum urna. In hac habitasse platea dictumst. Aenean sit amet turpis sem. Proin vel varius sem. Morbi pharetra aliquam libero, at porta velit suscipit ut. Vivamus ut laoreet neque.</p>
                <div class="flex items-center float-right">
                    <img class="w-12 h-12 rounded-full mr-4" src="img/0.jpg">
                    <div class="text-sm">
                      <p class="text-gray-900 leading-none font-semibold">Ivan Moroz</p>
                      <p class="text-gray-600">May 20</p>
                    </div>
                  </div>
            </div>
        </div>
    
        <div class="flex bg-indigo-100 rounded-lg specialwave2">

            <div class="p-6">
                <p class="uppercase font-semibold text-2xl text-indigo-100" style="mix-blend-mode: exclusion;">Lorem ipsum dolor</p>
                <p class="font-mono text-indigo-100" style="mix-blend-mode: exclusion;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac egestas ligula. Nulla varius sed risus nec consectetur. Maecenas justo leo, tristique nec dolor et, tristique dictum arcu. Maecenas metus odio, lobortis eu aliquam ut, malesuada eu ipsum. Pellentesque sagittis mi a eros condimentum dapibus. Fusce vitae feugiat massa, a fringilla est. Ut eu sem molestie, tincidunt lorem id, tempus est. Nullam imperdiet malesuada lacus, nec dictum lectus vulputate in. Quisque fringilla libero dictum nunc convallis sagittis. Vestibulum sit amet ipsum urna. In hac habitasse platea dictumst. Aenean sit amet turpis sem. Proin vel varius sem. Morbi pharetra aliquam libero, at porta velit suscipit ut. Vivamus ut laoreet neque.</p>
                <div class="flex items-center float-right">
                    <img class="w-12 h-12 rounded-full mr-4" src="img/0.jpg">
                    <div class="text-sm">
                      <p class="text-gray-900 leading-none font-semibold">Ivan Moroz</p>
                      <p class="text-gray-600">May 20</p>
                    </div>
                  </div>
            </div>
        </div>

</div>







<style>
::-moz-selection { background: #68d391; }
::selection { background: #68d391; }

/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    /*-webkit-border-radius: 10px;
    border-radius: 10px;*/
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    /*-webkit-border-radius: 10px;
    border-radius: 10px;*/
    background: rgba(255,0,0,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}

.stuff{
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),url(img/photo-1475179593777-bd12fd56b85d.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
}
.stuff2{
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(svg/wave2.svg),url(img/photo-1588892023905-f99aee940772.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
.specialwave{
    background-image: url(svg/wave.svg);
    background-repeat: no-repeat;
    background-size:cover;
}
.specialwave2{
    background-image: url(svg/wave2.svg);
    background-repeat: no-repeat;
    background-size:cover;
}
.yo{
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url(img/photo-1523170335258-f5ed11844a49.jpg);


    background-repeat: no-repeat;
    background-position: center;
    -webkit-filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));
}
</style>